@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: 0.4s ease-in-out;
}

body{
   background: linear-gradient(#e66465, #9198e5);
   background-repeat: no-repeat;
   min-height: 100vh;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px;
   
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: rgba(0, 0, 0, 0.63);
   opacity: 1; /* Firefox */
 }
 
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0, 0, 0, 0.63);
 }
 
 ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(0, 0, 0, 0.63);
 }

.container{
   max-width: 800px;
   height: 600px;
   margin: auto;
   margin-top: 4%;
   padding: 10px;
   background: linear-gradient(rgb(255, 105, 105, 0.6), rgb(143, 135, 255, 0.3)), url('background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 25px;
   justify-content: center;
   text-align: center;
}


.input{
   background-color: hsla(235, 62%, 73%, 0.5);
   font-size: 2rem;
   font-weight: 600;
   padding: 10px;
   text-align: center;
   margin-top: 40px;
   border-radius: 4px 10px 4px 10px;
   border: 0;
   border-bottom: #e66465 1px solid;
   transition: 0.4s ease-in-out;

}

.input:hover{
   background-color: hsla(235, 62%, 73%, 0.7);
   transition: 0.2s ease-in-out;
}
.input:focus{
   background-color: hsla(235, 62%, 73%, 0.8);
}

.container .name {
   font-size: 2.5rem;
   padding: 10px;
   padding-top: 50px;
   font-weight: bold;
   transition: 0.2s ease-in-out;
}

.container .date{
   font-size: 1.5rem;
}

.container .temp{
   font-size: 3.5rem;
   padding: 15px;
   padding-bottom: 10px;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}

.container .weather{
   font-size: 2rem;
   transition: 0.4s ease-in-out;
   padding-bottom: 15px;
   font-weight: 500;
}

.container .min-max{
   font-size: 1.5rem;
   transition: 0.4s ease-in-out;
   padding-bottom: 15px;
   font-weight: 500;
}
