body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    margin: 0px;
}

body::before {
    background: url('img.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.calendar {
    background-color: rgb(246, 247, 237);
    height: 60%;
    width: 30%;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgb(23, 9, 9);
    overflow: hidden;
    color: #262626;
}

.header {
    background-color: rgb(49, 193, 190);
    display: flex;
    height: 20%;
    color: aliceblue;
    align-items: center;
}

.prev {
    margin-left: 2em;
}

.next {
    margin-right: 2em;
}

button {
    background: transparent;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

button:hover {
    background-color: rgb(132, 241, 241);
    border-radius: 45%;
    width: 3em;
    height: 3em;
}

h2,
h3 {
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0px;
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekdays {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2em;
    padding-top: 1em;
    font-weight: bold;
}

.day {
    padding: 4px;
}

.day:nth-child(1) {
    color: rgb(49, 193, 190);
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 66%;
}

.dates div {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dates div div {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    margin: 4px 4px;
}

.date--curr {
    color: aliceblue;
    background: rgb(49, 193, 190);
}

.date:hover{
    color: aliceblue;
    background: rgb(52, 127, 141);
}

@media (min-width: 220px) and (max-width: 1000px) {
    .calendar {
        width: 85%;
        background-color: aliceblue;
    }

    body::before {
        background: none;
    }

    body {
        background: rgb(208, 250, 250);
    }
}
