body{
  background-color: #FFD6EC;
}


h1{
  color: black;
  margin-left: 550px;
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

li{
  font-size: 1.5rem;
}


h2{
  font-size: 4.5rem;
  margin-left: 500px
}
